<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Meeting</title>

    <link rel="stylesheet" type="text/css" href="../resources/styles/custom.css" />
    <link rel="stylesheet" type="text/css" href="../resources/styles/layout.css" />
    <link rel="stylesheet" type="text/css" href="../resources/styles/components.css" />
    <!-- <link rel="stylesheet" type="text/css" href="../resources/styles/bootstrap.min.css" /> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    
    <!-- <link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../resources/css/algaworks.min.css" /> -->


    <!-- <script  src="../resources/javascripts/app.js"></script> -->
    <script  src="../resources/javascripts/jquery.min.js"></script>
    <!-- <script  src="../resources/javascripts/bootstrap.mim.js"></script> -->
</head>

<body>
    <header class="aw-topbar">
        <img src="../resources/images/wine.png" />

        <a href="#" class="aw-toggle  js-toggle js-sidebar-toggle">
            <i class="fa  fa-bars"></i>
        </a>
        

        <a class="aw-sair" href="#"><em class="fa fa-sign-out">Sair</em></a>
    </header>

        <aside class="aw-sidebar  js-sidebar">
         
           <!-- include 'Menu.html'; -->
           <nav class="aw-menu">
                <ul>
                    <li>
                        <a href="#"><i class="fa  fa-home"></i><span>Página Inicial</span></a>
                    </li>
                    <li class="is-selected">
                        <a href="#"><i class="fa  fa-user"></i><span>Usuário</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-map-marker"></i><span>Localização</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-user-circle"></i><span>Gerenciar Reuniões</span></a>
                    </li>
                </ul>
            </nav>
        </aside>


        <section class="aw-content  js-content">
            jhbkhj
        </section>  

<footer class="aw-layout-footer">
    <div class="container-fluid">
        <span class="aw-footer-disclaimer"> @ 2016 Meeting. Todos os direitos reservados.</span>
    </div>
</footer>
<script  src="../resources/javascripts/app.js"></script>
<!-- <script  src="../resources/javascripts/jquery.min.js"></script> -->
<!-- <script  src="../resources/javascripts/bootstrap.mim.js"></script> -->
</body>

</html>
             
  